@font-face {
  font-family: glukfogli;
  src: url(./fonts/gluk_foglihten/Foglihten-068.otf);
}

@font-face {
  font-family: glukfogli-regular;
  src: url(./fonts/gluk_foglihten/gluk_rawengulksans/RawengulkSans-094.otf);
}

@font-face {
  font-family: roboto;
  src: url(./fonts/gluk_foglihten/roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: roboto-light;
  src: url(./fonts/gluk_foglihten/roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: roboto-regular;
  src: url(./fonts/gluk_foglihten/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-thin;
  src: url(./fonts/gluk_foglihten/roboto/Roboto-Thin.ttf);
}



body {
  font-family: roboto-light !important;
  /* background-image: url(./img/store.jpg);

  background-size: cover; */
}



.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.logo-width {
  width: 60px;
}

.header-bg {
  background-color : #d6121bd9!important;
  box-shadow : 0px 1px 5px 1px #777475;
}

.btn_dashboard{
  color: #f10505 !important;
  background-color: #ffffff !important;
  border-color: #ff0047 !important;
  display:block !important;
}

.dash_card {
  background: #ead1ab36;
  border: none;
  box-shadow: 0px 3px 8px 1px lightgrey;
}

.dash-main-card {
  box-shadow: 0px 1px 7px 1px #b1acac75;
}

.trainingImg {
  border-radius: 50%;
}

.video-container {
  width: 500px;
  height: 388px;
  margin: 6px auto;
  border: 2px solid #645cff;
  position: relative;
  box-shadow: 1px 1px 11px #9e9e9e;

}

.my-video {
  width: 130px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  border: 6px solid #2196f3;
  border-radius: 6px;
  z-index: 2;
}

.user-video {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width: 100%;
  height:100%;
  z-index:1;

}


.pets-list .list-row {
  background: #d8d8d8;
  margin-bottom: 10px;
}  
ul.pets-list {
  list-style: none;
}
.pets-list > li {
}
.pets-list .img-block {
  float: left;
  padding-left: 0;
}
.pets-list .desc-block {
  padding: 10px 10px;
}
.pets-list .img-block img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.pets-list .actions-block {
  padding: 10px 10px;
}
.pets-list .desc-block .pet-edit {
  background: transparent;
  color: #0083ff;
  margin: 4px;
}
.pets-list .desc-block div {
  margin-bottom: 5px;
}
.petlist-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn-next {
  display: block;
  width: 100%;
  border-radius: 0 !important;
}
.btn-back {
  display: block;
  width: 100%;
  border-radius: 0 !important;
}
.btn-back .back-arrow {
  float: left;
}
.pet-register .card-header {
  border-color: #007bff;
  margin: -1px;
  border: none;
  text-align: center;
  background: #007bff;
  color: white;
}
.pet-register .card-header button.back {
    float: left;
    background: transparet;
    background: transparent;
    color: white;
    border: none;
}


/* Side bar */

#sidebar-wrapper {
  min-height: 100vh;
  /* margin-left: -15rem; */
  /* -webkit-transition: margin .25s ease-out; */
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  /* transition: margin .25s ease-out; */
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.login-conatiner {
  background: #e8c6c614;
  padding: 10px;
  margin-top: 200px;
  border: 2px dashed #eae1e1;
  box-shadow: 1px 1px 15px 1px #eee;
}

.login-btn-primary {
  color: #fff !important;
  background-color: #dc3b3b !important;
  border-color: #dc3b3b !important;
  font-family: roboto-regular;
}

.nav-item a {
  color: #fff;
  font-weight:bold;
  font-family: roboto;
}

.login-h2 {
  margin-bottom: 40px;
  font-family: roboto-regular;
  text-align: center;
  font-size: 28px;
  /* font-weight: bold; */
  color: #dc3b3b;
}